# GDELT 2.0 Exploratory Data Analysis

In [12]:
# !pip install ipython-sql

In [13]:
import os
import pandas as pd
import pprint as pp 
import seaborn as sns
import matplotlib as plt

In [14]:
 %load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
%sql sqlite://

## sample EVENT GDELT .csv file

In [31]:
sample_gkg_file = '/Users/jackwittbold/Desktop/gdelt_data/notebook_test_data/20210401001500.export.CSV'

base_path = os.path.dirname(os.path.abspath(''))
file_path = os.path.join(base_path, sample_gkg_file)

with open(sample_gkg_file, 'rb') as f:
    df = pd.read_csv(f, sep='\t')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2360 entries, 0 to 2359
Data columns (total 61 columns):
 #   Column                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                         --------------  -----
 0   977541871                                                                                                      2360 non-null   int64
 1   20200401                                                                                                       2360 non-null   int64
 2   202004                                                                                                         2360 non-null   int64
 3   2020                                                                                                           2360 non-null   int64
 4   2020.2493                                                                                                      2360 non-null   float64
 5   Unnamed: 5                                                                                                     2114 non-null   object
 6   Unnamed: 6                                                                                                     2114 non-null   object
 7   Unnamed: 7                                                                                                     1285 non-null   object
 8   Unnamed: 8                                                                                                     15 non-null     object
 9   Unnamed: 9                                                                                                     6 non-null      object
 10  Unnamed: 10                                                                                                    46 non-null     object
 11  Unnamed: 11                                                                                                    16 non-null     object
 12  Unnamed: 12                                                                                                    1005 non-null   object
 13  Unnamed: 13                                                                                                    83 non-null     object
 14  Unnamed: 14                                                                                                    1 non-null      object
 15  IRN                                                                                                            1560 non-null   object
 16  IRAN                                                                                                           1560 non-null   object
 17  IRN.1                                                                                                          880 non-null    object
 18  Unnamed: 18                                                                                                    15 non-null     object
 19  Unnamed: 19                                                                                                    6 non-null      object
 20  Unnamed: 20                                                                                                    51 non-null     object
 21  Unnamed: 21                                                                                                    21 non-null     object
 22  Unnamed: 22                                                                                                    785 non-null    object
 23  Unnamed: 23                                                                                                    77 non-null     object
 24  Unnamed: 24                                                                                                    0 non-null      float64
 25  1                                                                                                              2360 non-null   int64
 26  042                                                                                                            2360 non-null   int64
 27  042.1                                                                                                          2360 non-null   int64
 28  04                                                                                                             2360 non-null   int64
 29  1.1                                                                                                            2360 non-null   int64
 30  1.9                                                                                                            2360 non-null   float64
 31  6                                                                                                              2360 non-null   int64
 32  1.2                                                                                                            2360 non-null   int64
 33  6.1                                                                                                            2360 non-null   int64
 34  -4.07407407407408                                                                                              2360 non-null   float64
 35  0                                                                                                              2360 non-null   int64
 36  Unnamed: 36                                                                                                    2042 non-null   object
 37  Unnamed: 37                                                                                                    2042 non-null   object
 38  Unnamed: 38                                                                                                    2042 non-null   object
 39  Unnamed: 39                                                                                                    949 non-null    object
 40  Unnamed: 40                                                                                                    2042 non-null   float64
 41  Unnamed: 41                                                                                                    2042 non-null   float64
 42  Unnamed: 42                                                                                                    2042 non-null   object
 43  1.3                                                                                                            2360 non-null   int64
 44  Iran                                                                                                           1518 non-null   object
 45  IR                                                                                                             1518 non-null   object
 46  IR.1                                                                                                           1518 non-null   object
 47  Unnamed: 47                                                                                                    576 non-null    object
 48  32                                                                                                             1518 non-null   float64
 49  53                                                                                                             1518 non-null   float64
 50  IR.2                                                                                                           1518 non-null   object
 51  1.4                                                                                                            2360 non-null   int64
 52  Yemen                                                                                                          2272 non-null   object
 53  YM                                                                                                             2272 non-null   object
 54  YM.1                                                                                                           2272 non-null   object
 55  Unnamed: 55                                                                                                    810 non-null    object
 56  15.5                                                                                                           2272 non-null   float64
 57  47.5                                                                                                           2272 non-null   float64
 58  YM.2                                                                                                           2272 non-null   object
 59  20210401001500                                                                                                 2360 non-null   int64
 60  https://www.msn.com/en-us/news/world/iraqi-prime-minister-says-turning-new-page-with-saudi-arabia/ar-BB1fbo8B  2360 non-null   object
dtypes: float64(10), int64(16), object(35)
memory usage: 1.1+ MB

GDELT Events Dataset consists of tab delimited columns, containing entries if that info can be parsed from source. Otherwise the value is Null.

## Dimensions of sample Event file:

In [ ]:
df.shape

• Dataset comprises of 2417 rows and 61 columns

## Column values for the first row in this particular file:
   
   • Column values correspond to 'Events' as described in the GDELT Events Codebook 
   [GDELT Event Codebook-V2](http://data.gdeltproject.org/documentation/GDELT-Event_Codebook-V2.0.pdf)

In [ ]:
for column in df.columns.values:
    pp.pp(column)

## Each 'Event' shown here corresponds to a column above

In [ ]:
eventtitles = [ 'GlobalEventID','Day','MonthYear','Year','FractionDate',
                'Actor1Code','Actor1Name','Actor1CountryCode','Actor1KnownGroupCode','Actor1EthnicCode','Actor1Religion1Code','Actor1Religion2Code','Actor1Type1Code','Actor1Type2Code','Actor1Type3Code',
                'Actor2Code','Actor2Name','Actor2CountryCode','Actor2KnownGroupCode','Actor2EthnicCode','Actor2Religion1Code','Actor2Religion2Code','Actor2Type1Code','Actor2Type2Code','Actor2Type3Code',
                'IsRootEvent','EventCode','EventBaseCode','EventRootCode','QuadClass','GoldsteinScale','NumMentions','NumSources','NumArticles','AvgTone',
                'Actor1Geo_Type','Actor1Geo_Fullname','Actor1Geo_CountryCode','Actor1Geo_ADM1Code','Actor1Geo_ADM2Code','Actor1Geo_Lat','Actor1Geo_Long','Actor1Geo_FeatureID',
                'Actor2Geo_Type','Actor2Geo_Fullname','Actor2Geo_CountryCode','Actor2Geo_ADM1Code','Actor2Geo_ADM2Code','Actor2Geo_Lat','Actor2Geo_Long','Actor2Geo_FeatureID',
                'ActionGeo_Type','ActionGeo_Fullname','ActionGeo_CountryCode','ActionGeo_ADM1Code','ActionGeo_ADM2Code','ActionGeo_Lat','ActionGeo_Long','ActionGeo_FeatureID',
                'DATEADDED','SOURCEURL' ]

## Showing the first and last five rows:

In [ ]:
df.info

## Shows that many Null values (indicated in yellow) exist for certain columns

In [ ]:
sns.heatmap(df.isnull(),cbar=False,yticklabels=False,cmap = 'viridis')

In [ ]:
%%sql
CREATE TABLE GDELT_EVENTS('GlobalEventID','Day','MonthYear','Year','FractionDate',
                'Actor1Code','Actor1Name','Actor1CountryCode','Actor1KnownGroupCode','Actor1EthnicCode','Actor1Religion1Code','Actor1Religion2Code','Actor1Type1Code','Actor1Type2Code','Actor1Type3Code',
                'Actor2Code','Actor2Name','Actor2CountryCode','Actor2KnownGroupCode','Actor2EthnicCode','Actor2Religion1Code','Actor2Religion2Code','Actor2Type1Code','Actor2Type2Code','Actor2Type3Code',
                'IsRootEvent','EventCode','EventBaseCode','EventRootCode','QuadClass','GoldsteinScale','NumMentions','NumSources','NumArticles','AvgTone',
                'Actor1Geo_Type','Actor1Geo_Fullname','Actor1Geo_CountryCode','Actor1Geo_ADM1Code','Actor1Geo_ADM2Code','Actor1Geo_Lat','Actor1Geo_Long','Actor1Geo_FeatureID',
                'Actor2Geo_Type','Actor2Geo_Fullname','Actor2Geo_CountryCode','Actor2Geo_ADM1Code','Actor2Geo_ADM2Code','Actor2Geo_Lat','Actor2Geo_Long','Actor2Geo_FeatureID',
                'ActionGeo_Type','ActionGeo_Fullname','ActionGeo_CountryCode','ActionGeo_ADM1Code','ActionGeo_ADM2Code','ActionGeo_Lat','ActionGeo_Long','ActionGeo_FeatureID',
                'DATEADDED','SOURCEURL')